/* General styles */
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

/* Name styles */
.name {
    font-family: 'Teko', sans-serif;
    font-size: 5rem; /* Adjust the size as needed */
    font-weight: bold; 
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    letter-spacing: 0.1em;
}

.position {
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold;
}

/* Card styles */
.card {
    transition: opacity 0.5s ease, max-height 0.5s ease;
    max-height: 1000px;
    overflow: hidden;
    border: 0;
}

.card.hidden {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.title {
    border-bottom: 2px solid rgb(51, 51, 51); /* Add a line underneath */
}

.card-img:hover {
    transform: scale(1.1); /* Slight zoom effect */
}

.card-body-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.card-footer small {
    display: block;
}

.card-title {
    font-weight: bold;
}

.card-year {
    color: rgb(201, 70, 10);
}

.card-tags-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.card-text {
    color: rgb(180, 180, 180);
}

.card-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: white;
}

/* Image container styles */
.image-container {
    overflow: hidden;
}

.card-img {
    transition: transform 0.6s ease;
    overflow: hidden;
    aspect-ratio: 4/3; 
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}

/* Project tags styles */
.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .project-tags {
    opacity: 1;
}

.tag {
    padding: 1px 8px;
    border-radius: 5px;
}

/* Description title container styles */
.description-title-container {
    color: rgb(51, 51, 51);
    display: inline-block;
    /* font-size: 0.875rem; */
    font-weight: bold;
    border-bottom: 1px solid rgb(51, 51, 51);
}

/* Button styles */
#filter-tags .btn {
    cursor: pointer;
}

.btn-primary {
    background-color: inherit; /* Ensure the button color is inherited */
    color: inherit; /* Ensure the text color is inherited */
    border-color: inherit; /* Ensure the border color is inherited */
}

.btn-primary i {
    margin-left: 5px; /* Add some space between the icon and the text */
    color: inherit; /* Ensure the icon color is inherited */
}