/* General styles */
body {
    background-color: rgb(5,8,22);
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Name styles */
.name {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem; /* Adjust the size as needed */
    font-weight: bold; 
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    letter-spacing: 0.1em;
}

.card {
    border-radius: 5px;
    overflow: hidden;
    border: none;
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem; /* Adjust the size as needed */
    color: rgb(255, 255, 255);
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900; /* Use the 900 weight for Black */
    font-weight: bolder;
    font-size: 3rem; /* Adjust the size as needed */
}

.title-featured {
    color: rgb(255, 255, 255); /* Change to desired color for featured title */
}

.title-other {
    color: rgb(255, 255, 255); /* Change to desired color for other title */
}

/* Inherit styles from .title */
.title-featured,
.title-other {
    font-weight: bolder;
    font-size: 3rem; /* Adjust the size as needed */
}

.card-tags-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.card-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: white;
}

/* Image container styles */
.project-info-container {
    width: 100%;
    padding: 10px;
}

.card-img-top {
    transition: transform 0.6s ease;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 16/9;
    background-color: rgb(255, 255, 255);
}

/* Project tags styles */
.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Button styles */
#filter-tags .btn {
    cursor: pointer;
}

.card {
    background-color: rgb(28, 22, 61);
    color: rgb(170,166,195);
    border: none;
}

.card-hover{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-hover:hover {
    transform: scale(1.05);
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-img-fit{
    object-fit: cover;
    aspect-ratio: 4/3;
}

.hidden {
    display: none !important;
}

.card-deck {
    padding: 0;
}

.btn-work {
    background-color: rgb(28, 22, 61);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 100px;
}

.primary {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.secondary {
    color: rgb(255, 255, 255);
}

.core {
    color: rgb(170,166,195);
}

.logo {
    border-radius: 50%;
    overflow: hidden;
    width: 100%; /* Make the logo take the full width of its container */
    height: 100%; /* Make the logo take the full height of its container */
    object-fit: cover; /* Ensure the image fits within the specified dimensions */
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1/1; /* Maintain a 1:1 aspect ratio */
}

.work-img {
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
}